
@{
    ViewBag.Title = "ThongBao";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align:center">
    Hồ sơ đã nộp hoặc bạn đã là nhân viên!
</h2>
<p style="text-align:center">
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "NhanSu")
</p>

