
@{
    ViewBag.Title = "Xacnhanhoso";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Hồ sơ của bạn đã được chúng tôi ghi nhận. Chúng tôi sẽ gửi kết quả trong thời gian sớm nhất.</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "NhanSu")
</p>

